* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Inria Sans', cursive; 
    display: flex;
    flex-direction: column;
}

.container {
    background-image: url('background.png'); /* Caminho correto da imagem */
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Garante que o container ocupe a tela toda */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.fitness-app {
    font-family: 'Inknut Antiqua', cursive; 
    font-size: 36px; 
    color: #B78DE7;
    font-weight: normal;
}

.logo {
    position: absolute;
    top: 30px;
    left: 61px;
    color: #ffffff;
    font-size: 36px;
    font-family: 'Inknut Antiqua', serif;
    line-height: 1.2; 
}

.logo span {
    display: block;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 60px; /* Ajuste o valor conforme necessário */
    font-size: 24px;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    flex-shrink: 0; /* Garante que o footer fique no final */
    font-size: 10px;
    font-family: 'Inria Sans', cursive;
    color: #3f2d55;

}

/* home */
.middle-sentence {
    font-size: 48px;
    margin-top: 100px;
    color: #D1A8FF;
    font-family: 'Inknut Antiqua', serif;
    line-height: 1.2; 
    font-weight: normal;
}

.middle-sentence-2 {
    font-size: 64px;
    font-family: 'Italianno', cursive;
    color: #ffffff;
    font-weight: normal;
}


.blur-background-calories {
    background: rgba(255, 255, 255, 0.75); /* Fundo semi-transparente */
    border-radius: 16px;
    padding: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(48px); /* Efeito de desfoque no fundo */
    -webkit-backdrop-filter: blur(48px);
    width: 66.25%;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    z-index: 1; /* Coloca o conteúdo do calculador acima do blur */
    position: relative;
}

.blur-background {
    background: rgba(255, 255, 255, 0.75); /* Fundo semi-transparente */
    border-radius: 16px;
    padding: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(48px); /* Efeito de desfoque no fundo */
    -webkit-backdrop-filter: blur(48px);
    width: 66.25%; 
    height: 40%;
    margin: 0 auto;
    position: relative; /* Garante que o conteúdo dentro fique no topo */
    margin-top: 40px;
    z-index: 1; /* Coloca o conteúdo do calculador acima do blur */
}

.chart-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
    max-width: 75%;
    max-height: 75%;
    height: 300;
    align-self: center;
}


.blur-background-dashboard {
    background: rgba(255, 255, 255, 0.75); /* Fundo semi-transparente */
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(48px); /* Efeito de desfoque no fundo */
    -webkit-backdrop-filter: blur(48px);
    width: 90%; 
    height: 40%;
    display: flex;
    position: relative; /* Garante que o conteúdo dentro fique no topo */
    margin: 0 auto;
    margin-top: 40px;
    z-index: 1; /* Coloca o conteúdo do calculador acima do blur */
}

.water-calculator h1 {
    font-family: 'Inria Sans', serif;
    color: #5a2c82;
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: normal;
    text-align: center;
}

.imc-calculator h1 {
    font-family: 'Inria Sans', serif;
    color: #5a2c82;
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: normal;
    text-align: center;
}

.calorie-calculator h1 {
    font-family: 'Inria Sans', serif;
    color: #5a2c82;
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: normal;
    text-align: center;
}

.calc-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.calc-area input {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    font-size: 18px;
}

.calc-area span {
    font-size: 24px;
    color: #5a2c82;
}

.calc-area-calorie {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 60%; /* Definido para ocupar 60% do contêiner blur-background */
    margin: 0 auto;
}

.calc-area-calorie label {
    font-size: 18px;
    font-family: 'Inria Sans', serif;
    color: #5a2c82;
    text-align: left;
}

.calc-area-calorie input, .calc-area-calorie select {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: 'Inria Sans', serif;
}

/* Remover as setas de input number no Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.result-box {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 50%; /* Mesma largura dos inputs para consistência */
    text-align: center;
    font-size: 18px;
    background-color: white; /* Fundo branco para destacá-la do blur */
    color: #000000; /* Texto em roxo claro */
    position: relative; /* Para controle de sobreposição */
    z-index: 2; /* Garantindo que a box de resultado fique visível */
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#calcular-btn {
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    background-color: #5a2c82; /* Cor de fundo roxa */
    color: white; /* Texto branco */
    font-size: 18px;
    font-family: 'Inria Sans', serif;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 15px rgba(90, 44, 130, 0.4); /* Sombras suaves */
    margin: 10px;
}

#calcular-btn:hover {
    background-color: #7b48af;
    transform: scale(1.05); /* Leve aumento no hover */
}

#calcular-btn:active {
    transform: scale(0.98); /* Leve redução ao clicar */
    box-shadow: 0 2px 8px rgba(90, 44, 130, 0.4); /* Sombras mais sutis ao clicar */
}

