{% extends "layout.html" %}

{% block title %}
MC656 - Projeto de Engenharia de Software 2s2024
{% endblock %}

{% block content %}
<h1>MC656 - Projeto de Engenharia de Software - UNICAMP (2º Semestre de 2024)</h1>

<p>
Este projeto faz parte do curso MC656 de Engenharia de Software oferecido pela Universidade Estadual de Campinas (UNICAMP) no segundo semestre de 2024. O objetivo do projeto é aplicar os conhecimentos adquiridos em sala de aula para desenvolver uma solução tecnológica inovadora que atenda a uma necessidade real da sociedade.
</p>

<h2>Descrição do Projeto</h2>
<p>
O projeto será focado na área de saúde e bem-estar, com o desenvolvimento de uma aplicação que auxilia no monitoramento da saúde pessoal. A aplicação oferecerá funcionalidades como:
</p>
<ul>
    <li>Fornecimento de dicas nutricionais personalizadas;</li>
    <li>Cálculo de índices calóricos baseados na dieta do usuário;</li>
    <li>Monitoramento da quantidade recomendada de ingestão de água;</li>
    <li>Relatórios sobre hábitos saudáveis e desempenho ao longo do tempo.</li>
</ul>
<p>
Com isso, busca-se promover uma melhoria na qualidade de vida e uma maior conscientização sobre hábitos saudáveis.
</p>

<h2>Objetivos</h2>
<p>
Os objetivos principais do projeto incluem:
</p>
<ul>
    <li>Aplicar metodologias ágeis para o desenvolvimento do software;</li>
    <li>Trabalhar em equipe para simular um ambiente real de engenharia de software;</li>
    <li>Desenvolver um produto funcional e de fácil usabilidade;</li>
    <li>Garantir a qualidade do software por meio de testes abrangentes e feedback contínuo.</li>
</ul>

<h2>Equipe de Desenvolvimento</h2>
<p>
A equipe responsável pelo desenvolvimento deste projeto é formada por:
</p>
<ul>
    <li>Isaac do Nascimento Oliveira (RA: 247175)</li>
    <li>Elton Aquino de Brito Filho (RA: 247059)</li>
    <li>Giovanni Mesquita Micaroni (RA: 231702)</li>
    <li>Guilherme Buzzetti de Souza (RA: 235883)</li>
    <li>Guilherme Azevedo Horn (RA: 247127)</li>
</ul>

{% endblock %}

